/* Light theme */
.body-light {
  background: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}
.header-light {
  box-shadow: 0 2px 1.5px -1.5px hsl(0, 0%, 52%);
  background-color: #fff;
}
.a-light {
  color: hsl(200, 15%, 8%);
}
.form-group-light {
  background: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 5px -1px hsl(0, 0%, 52%),
    -2px 2px 5px -1px hsl(0, 0%, 52%);
}
input[type="search"]::placeholder {
  color: hsl(0, 0%, 52%);
}
.dropdown-light {
  background: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 5px -1px hsl(0, 0%, 52%),
    -2px 2px 5px -1px hsl(0, 0%, 52%);
}
.card-light {
  background: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 5px -1px hsl(0, 0%, 67%),
    -1px 1px 4px -1px hsl(0, 0%, 67%);
}
